<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/applogo"
        android:roundIcon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tripcraft000"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsvWvvAs1b1HWVzVKDkvVGdEFbeRzN50E" />

        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".CityActivity" android:exported="false" />
        <activity android:name=".CalendarActivity" android:exported="false" />
        <activity android:name=".PlanActivity" android:exported="false" />
        <activity android:name=".VerifyEmailActivity" android:exported="false" />
        <activity android:name=".SavedPlansActivity" android:exported="false" />
        <activity android:name=".MapPlacesActivity" android:exported="false" />
        <activity android:name=".InterestsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".RestaurantActivity" android:exported="false" />
        <activity android:name=".TimeActivity" android:exported="false" />
        <receiver android:name=".NotificationReceiver" android:exported="false" />

    </application>

</manifest>
